/*General*/
* {
    font-family: "Roboto", sans-serif !important;
}
body {
    background-image: url("../images/funky-lines.png");
}
/*Palette*/
body {
    --color-1: #6b5b95;
    --color-2: #feb236;
    --color-3: #D43A5D;
    --color-4: #3ec2ff;
} 
  /* Loading Bar*/
.loading {
    position: absolute;
    left: calc(50vw - 25px);
    top: calc(50vh - 25px);
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border: 3px solid #00000000;
    border-top: 3px solid var(--color-1);
    border-bottom: 3px solid var(--color-1);
    border-radius: 50%;
    animation: spinner 1.3s linear infinite;
    z-index: 10;
}

@keyframes spinner {
    0% {
      border-top-color: var(--color-3);
      border-bottom-color: var(--color-3);
    }
    50% {
      border-top-color: var(--color-4);
      border-bottom-color: var(--color-4);
    }
    100% {
      border-top-color: var(--color-3);
      border-bottom-color: var(--color-3);
    }
    to {
      transform: rotate(360deg);
    }
}

.hidden {
    display: none;
}
/*Navbar*/
nav {
    border-bottom: 2px solid #888888;
    padding: 0;
    background-color: #dddddd;
}

nav a {
    margin: 10px;
    background-color: var(--color-3);
    color: white !important;
    box-shadow: 2px 2px var(--color-2);
    transition: background-color 0.2s;
}
  
nav a:hover {
    background-color: var(--color-4);
}
/*Name*/
#nameHomepage h1 {
    font-size: 5em;
    text-shadow: 2px 2px var(--color-1);
    transition: font-size 0.5s, text-shadow 0.5s;
}
#nameHomepage h1:hover {
    font-size: 7em;
    text-shadow: 5px 5px var(--color-1);
}
  
/*Portfolio*/
.carousel-dark .carousel-control-prev,
.carousel-dark .carousel-control-next,
.carousel-dark .carousel-indicators>li{
    filter: invert(100%);
}

.LI-badge-container-horizontal-light {
    background-color: white;
}

textarea {
    resize: vertical;
}
/*Footer*/
html, body {
    height: 100%;
    margin: 0;
}

body>div {
    min-height: 100%;
    margin-bottom: -50px;
}

footer{
    box-sizing: border-box;
    height: 50px;
    padding: 10px;
    background-color: #dddddd;
    border-top: 2px solid #888888;
    justify-content: center;
}

#pusherforfooter {
    height: 50px;
    margin-top:20px;
}